In [2]:
# import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn

In [3]:
# read the production data
production_df = pd.read_excel("db/original-project3-prod-data.xls")
production_df.head()

,Data_Status,StateCode,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,2017F,AK,CLPRB,11263.0,11497.0,13588.0,13307.0,11622.0,13931.0,14461.0,...,23041.0,29016.0,33556.0,33524.0,31332.000,24917.000,22944.000,17747.000,13942.000,14365.000
1,2017F,AK,CLPRK,15.6,15.6,15.6,15.6,15.6,15.6,15.6,...,15.6,15.6,15.6,15.6,15.268,15.272,15.278,15.073,14.957,14.978
2,2017F,AK,CLPRP,722.0,737.0,871.0,853.0,745.0,893.0,927.0,...,1477.0,1860.0,2151.0,2149.0,2052.000,1632.000,1502.000,1177.000,932.000,959.000
3,2017F,AK,COPRK,5.8,5.8,5.8,5.8,5.8,5.8,5.8,...,5.8,5.8,5.8,5.8,5.800,5.800,5.800,5.717,5.722,5.723
4,2017F,AK,EMFDB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000

In [4]:
# select only renewable type 
production_df = production_df.loc[production_df["MSN"]=="REPRB"]
production_df.head()

,Data_Status,StateCode,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
14,2017F,AK,REPRB,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
38,2017F,AL,REPRB,112809.0,118021.0,125564.0,112682.0,137992.0,121888.0,121238.0,...,233379.0,264487.0,242243.0,255849.0,242062.0,310497.0,268440.0,257022.0,228840.0,255547.0
62,2017F,AR,REPRB,48104.0,51144.0,47637.0,41897.0,42732.0,46425.0,51697.0,...,123354.0,124205.0,125229.0,121171.0,111565.0,116588.0,116381.0,113410.0,110079.0,109448.0
86,2017F,AZ,REPRB,36181.0,35083.0,34533.0,34861.0,34271.0,50095.0,58060.0,...,96341.0,80680.0,85935.0,113360.0,98806.0,98826.0,120013.0,129241.0,139197.0,148680.0
110,2017F,CA,REPRB,270161.0,248178.0,329046.0,360333.0,331757.0,418518.0,375877.0,...,603931.0,646780.0,715550.0,837314.0,703607.0,741782.0,746468.0,734669.0,927056.0,1115301.0

In [5]:
# Drop the columns we don't need
prod_df = production_df.drop(["Data_Status", "MSN"], axis = 1)
prod_df.head()

,StateCode,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
14,AK,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,8486.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
38,AL,112809.0,118021.0,125564.0,112682.0,137992.0,121888.0,121238.0,144384.0,129673.0,...,233379.0,264487.0,242243.0,255849.0,242062.0,310497.0,268440.0,257022.0,228840.0,255547.0
62,AR,48104.0,51144.0,47637.0,41897.0,42732.0,46425.0,51697.0,46124.0,64986.0,...,123354.0,124205.0,125229.0,121171.0,111565.0,116588.0,116381.0,113410.0,110079.0,109448.0
86,AZ,36181.0,35083.0,34533.0,34861.0,34271.0,50095.0,58060.0,56423.0,63456.0,...,96341.0,80680.0,85935.0,113360.0,98806.0,98826.0,120013.0,129241.0,139197.0,148680.0
110,CA,270161.0,248178.0,329046.0,360333.0,331757.0,418518.0,375877.0,473192.0,397366.0,...,603931.0,646780.0,715550.0,837314.0,703607.0,741782.0,746468.0,734669.0,927056.0,1115301.0